<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025944166891-3shne0lnf0v8csr957btvgvkg4u39m0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025944166891-3shne0lnf0v8csr957btvgvkg4u39m0g</string>
	<key>API_KEY</key>
	<string>AIzaSyANEJQeha5lP1gHqPfmd9ngzG8RHGP_T5A</string>
	<key>GCM_SENDER_ID</key>
	<string>1025944166891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>online.signit</string>
	<key>PROJECT_ID</key>
	<string>signing-39450</string>
	<key>STORAGE_BUCKET</key>
	<string>signing-39450.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025944166891:ios:52fe9161c3826b6fbbb9ae</string>
</dict>
</plist>